<div class="profile-pic" style="height:240px;width:100%;background:url('{{user.userprofile.profile_pic.url}}');background-size:cover;background-position:center;border-radius:10px"></div>
<br/>
<h3><b>{{user.first_name}} {{user.last_name}}</b></h3>
<h5><span class="badge badge-success">
    {% if user.is_staff%}
        staff
    {%else%}
        {{user.username}}    
    {%endif%}
</span></h5>
<p>{{user.email}}</p>
<div>
    {%if not user.is_staff%}
    <p>
        {%if 'edit' in request.path%}
        <a href="{%url 'profile'%} " class="btn btn-primary" style="width: 100%;">Dashbaord</a>
        {%else%}
        <a href="{%url 'editprofile'%} " class="btn btn-primary" style="width: 100%;">Edit Profile</a>
        {%endif%}

    </p>
    {%endif%}
</div>
<p><b>Bio</b></p>
<p style="font-size: 14px;color:grey;text-align: justify;">{{user.userprofile.user_bio}}</p>