*{
    box-sizing: border-box;
}
div.my-form { 
    margin-top: 20px;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 6px;
}

div.wallet-card {
    border: 1px solid dodgerblue;
    padding: 10px;
    border-radius:5px;
    border-left: 5px solid dodgerblue;
}