{%extends 'admin/base.html'%}
{%block title%}Expense Manager | Admin{%endblock%}
{%block branding%}
    <a href="/admin">
        <div style="margin-top:0px">
            <img src="https://getbootstrap.com//docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" >
            <h1 style="color: white;">Manager &trade;</h1>
        </div>
    </a>
{%endblock%}
{%block extrastyle%}
<style>
    div#header{
        background: #343A40;
    }
    table caption{
        background: #343A40 !important;
    }
    div.breadcrumbs {
        background: #727272;
    }
</style>
{%endblock%}